<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AdminLTE 2 | Smart Tech</title>
    <th:block th:insert="admin/layout/head.html"></th:block>
</head>
<body class="hold-transition login-page">
<!-- Site wrapper -->
    <div class="login-box">
        <div class="login-logo">
            <a href=""><b>Admin</b>LTE</a>
        </div>

        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <form action="/login-admin" method="post" th:object="${adminLogin}">
                <div class="form-group has-feedback">
                    <input type="text" th:field="${adminLogin.email}" class="form-control" placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" th:field="${adminLogin.password}" class="form-control" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
            </form>

<!--            <a href="#">I forgot my password</a><br>-->
<!--            <a href="register.html" class="text-center">Register a new membership</a>-->
        </div>

    </div>
    <!-- /.content-wrapper -->
<!-- ./wrapper -->
<!-- jQuery 3 -->
<th:block th:insert="admin/layout/script.html"></th:block>

</body>
</html>