<aside class="main-sidebar">
    <section class="sidebar">

        <div class="user-panel">
            <div class="pull-left image">
                <img src="/images/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a href="#"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
            </li>
            <li style="height: auto;"><a href="/admin/category"><i class="fa fa-files-o"></i>
                    <span>Category Management</span></a>
            </li>
            <li>
                <a href="/admin/product">
                    <i class="fa fa-th"></i> <span>Product Management</span>
                </a>
            </li>
            <li ><a href="/admin/user"><i class="fa fa-laptop"></i><span>User Management</span></a></li>
        </ul>
    </section>

</aside>