<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AdminLTE 2 | Blank Page</title>
    <th:block th:insert="admin/layout/head.html"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <th:block th:insert="admin/layout/header.html"></th:block>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <th:block th:insert="admin/layout/sidebar.html"></th:block>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Quản lý menu trang giao diện

            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="col-md-8">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thêm mới menu</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tên Menu</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Giới thiệu">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Chọn Menu Cha</label>
                                <select name="" id="inp" class="form-control" required="required">
                                    <option value="">Chọn danh Menu cha</option>
                                    <option value="">Học bổng</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Chọn Vị trí</label>
                                <select name="" id="inpu" class="form-control" required="required">
                                    <option value="">Chọn vị trí</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Chọn trạng thái</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="" id="" value="" checked="checked">
                                        Hiện
                                    </label>
                                    <label>
                                        <input type="radio" name="" id="nput" value="" >
                                        Ẩn
                                    </label>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Thêm mới</button>
                        </div>
                    </form>
                </div>

                <!-- /.box -->

            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>    <!-- /.content-wrapper -->


    <th:block th:insert="admin/layout/footer.html"></th:block>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<th:block th:insert="admin/layout/script.html"></th:block>

</body>
</html>